body {background-color: cornflowerblue;}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    text-align: center;
    color: blue;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.button {
    background-color: lightgray;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-align: center;
    color: blue;
}